<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CNCTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CNCTool.Properties.Settings>
            <setting name="EditorArcSplitDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaudRateIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FirmwareIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RemoteAddress" serializeAs="String">
                <value>127.0.0.1:5001</value>
            </setting>
            <setting name="SerialPollRateIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PositionPollRateIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GrblCharBuffer" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="SerialDtrEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </CNCTool.Properties.Settings>
    </userSettings>
</configuration>